@font-face {
  font-family: "RussoOneRegular";
  src: local("RussoOneRegular"),
   url("./utils/fonts/Russo_One/RussoOne-Regular.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "ZenKakuGothicAntiqueRegular";
  src: local("ZenKakuGothicAntiqueRegular"),
   url("./utils/fonts/Zen_Kaku_Gothic_Antique/ZenKakuGothicAntique-Regular.ttf") format("truetype");
  font-weight: 400;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
